/*_______ Post navigation _______*/
.posts-navigation,
.post-navigation{
	flex: 1 1 100%;	
	@extend %inner;
	padding: 4rem 0;
	overflow: hidden;
	.nav-links{
		div{
			width: 50%;
			@media (min-width: 768px){
				width: auto;
			}
		}
		a{
			display: inline-block;
			vertical-align: middle;
			font-weight: 700;
			font-size: .875rem;
			line-height: 80%;
			padding: .75rem;
			color: $color__primary;
			background-color: $color__secondary;
			border: .125rem solid $color__secondary;
			@extend %transition;
			@media (min-width: 350px){
				font-size: 1rem;
			}
			@media (min-width: 768px){
				font-size: 1.25rem;
			}
			&:hover{
				color: $color__primary;
				background-color: transparent;
				border-color: $color__primary;
			}
			&:active{
				color: $color__tertiary;
				background-color: $color__primary;
				border-color: $color__primary;
			}
		}
	}
	.nav-previous {
		float: left;
		a:before{
			content: " ";
			font-family: 'dashicons';
			display: inline-block;
			vertical-align: middle;
			margin-right: .25rem;
		}
	}
	.nav-next {
		float: right;
		text-align: right;
		a:after{
			content: " ";
			font-family: 'dashicons';
			display: inline-block;
			vertical-align: middle;
			margin-left: .25rem;
		}
	}
}