/*_______ Colums block _______*/
.wp-block-columns {
	margin-top: 2rem;
	margin-bottom: 2rem;
	@media (min-width: $breakpoint-small) {
		margin-bottom: 4rem;
	}
	.wp-block-column{
		margin-bottom: 2rem;
		@media (min-width: $breakpoint-small) {
			margin-bottom: 0;
		}
		> %headings{
			margin-top: 0;
		}
		.wp-block-image{
			margin-bottom: 0;
		}
	}
}