/*_______ Home page _______*/
.home{
	.site-header{
		position: fixed !important;
		top: 0;
	}
	.main-title{
		max-width: initial;
		font-family: $font__secondary;
		font-weight: 700;
		font-size: 2.5rem;
		@media (min-width: 769px){
			font-size: 4.25rem;
			margin-bottom: .5em;
		}
	}
	.main-subtitle{
		font-family: $font__secondary;
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 120%;
		color: $color__secondary;
		margin-bottom: 0;
		@media (min-width: 769px){
			font-size: 2rem;
		}
	}
	.main-services{
		.service{
			display: flex;
			flex-flow: column wrap;
			margin: 0 2%;
			.card-icon{
				max-width: 5rem;
				max-height: 5rem;
				margin-bottom: .5rem;
			}
			.service-title{
				flex: initial;
				font-size: 2rem;
				color: $color__primary;
				margin-bottom: .5rem;
			}
			.service-description{
				flex: initial;
				font-size: 1.25rem;
			}
			.readmore{
				width: auto;
				height: auto;
				flex: initial;
				align-self: flex-end;
				margin-top: auto;
				margin-left: auto;
				margin-right: 0;
				margin-bottom: 0;
			}
		}
	}
}

.client-list{
	.client{
		img{
			display: block;
			margin: 0 auto;
		}
	}
}